<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      layout:decorate="~{index}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error</title>
</head>

<body>
<section class="row" layout:fragment="content">
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">404</div>
        <div class="card-body">
            <h5 class="card-title">ERROR</h5>
            <p class="card-text" th:text="${message}">message</p>
        </div>
    </div>
</section>
</body>
</html>
