<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      layout:decorate="~{index}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{nav.movies}">Movies</title>
</head>

<body>
<section layout:fragment="content">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic" th:text="#{home.jumbotron.title}">Title</h1>
            <p class="lead my-3" th:text="#{home.jumbotron.content}">Content</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" th:each="movie :${movies}">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary" th:text="${movie.price + ' PLN'}">Movie
                        price</strong>
                    <h3 class="mb-0">
                        <p class="text-dark" th:text="${movie.name}">Movie name</p>
                    </h3>
                    <div class="mb-1 text-muted" th:text="${#dates.format(movie.date, 'dd-MM-yyyy')}">Movie date</div>
                    <p class="card-text mb-auto" th:text="${movie.description}">Movie description</p>
                    <form method="post" th:action="@{/reserve/check}">
                        <input th:name="movieName" th:value="${movie.name}" type="hidden"/>
                        <button class="btn btn-sm btn-primary" type="submit" th:text="#{movie.reserveButton}">rezerwacja</button>
                    </form>
                </div>
                <img th:if="${movie.thumbnail==null}" alt="Card image cap" class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/166x250?theme=thumb"/>
                <img th:if="${movie.thumbnail!=null}" alt="thumbnail" class="card-img-right flex-auto d-none d-md-block thumbnail-size" th:attr="src=@{${movie.thumbnail}}" />
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: '.....'
        });
    </script>
</section>
</body>
</html>

