<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/images.css}"/>
    <!--<link rel="stylesheet" th:href="@{/resources/css/navbar.css}"/>-->
    <title>Layout with navigation</title>
</head>

<body>

<header layout:fragment="header">

    <nav class="navbar navbar-expand-md navbar-dark bg-primary bg-primary mb-4">
        <a class="navbar-brand" th:href="@{~/}">Movie Festival</a>
        <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarCollapse" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{~/}" th:text="#{nav.movies}">Movies <span class="sr-only">(current)</span></a>
                </li>

                <!-- Login/register/logout -->
                <li class="nav-item active" sec:authorize="hasRole('ROLE_ANONYMOUS')">
                    <a class="nav-link" th:href="@{~/login}" th:text="#{nav.login}">Login</a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('ROLE_ANONYMOUS')">
                    <a class="nav-link" th:href="@{~/register}" th:text="#{nav.register}">Register</a>
                </li>
                <li class="nav-item active" sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{~/logout}" th:text="#{nav.logout}">Logout</a>
                </li>

                <!-- Profile -->
                <li class="nav-item active" sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{${'~/profile/' + #authentication.principal.userId}}" th:text="#{nav.profile}">Profile</a>

                </li>

                <!-- Admin -->
                <li class="nav-item dropdown active" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                        <a class="dropdown-item" th:href="@{~/users}" th:text="#{nav.users}">Users</a>
                        <a class="dropdown-item" th:href="@{~/reservations}" th:text="#{nav.reservations}">Reservations</a>
                        <a class="dropdown-item" th:href="@{~/movies}" th:text="#{nav.movies}">Movies</a>
                    </div>
                </li>

                <!-- language -->
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle active" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{nav.language}">
                        Language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="languageDropdown">
                        <a class="dropdown-item" href="/?lang=en">English</a>
                        <a class="dropdown-item" href="/?lang=pl">polski</a>
                        <a class="dropdown-item" href="/?lang=de">Deutsch</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <section layout:fragment="content">
        <p> PAGE CONTENT</p>
    </section>
</div>

<footer>
    <script th:src="@{/node_modules/jquery/dist/jquery.js}"></script>
    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.js}"></script>
</footer>

</body>
</html>
