<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      layout:decorate="~{index}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{profile.login}">Login</title>
    <link rel="stylesheet" th:href="@{/resources/css/signin.css}"/>
</head>

<header layout:fragment="header"></header>

<body>
<section class="text-center" layout:fragment="content">
    <form class="form-signin" th:action="@{/login}" method="post">
        <img alt="" class="mb-4" height="72" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" width="72">
        <h1 class="h3 mb-3 font-weight-normal" th:text="#{profile.login}">Please sign in</h1>

        <label class="sr-only" for="login" th:text="#{profile.login}">Login</label>
        <input autofocus class="form-control" id="login" name="login" th:placeholder="#{profile.login}" required type="text">

        <label class="sr-only" for="inputPassword" th:text="#{profile.password}">Password</label>
        <input class="form-control" id="inputPassword" name="password" th:placeholder="#{profile.password}" required type="password">

        <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{profile.login}">Sign in</button>
        <p></p>
        <a class="btn btn-lg btn-outline-primary btn-block" href="/register" th:text="#{profile.register}">Register</a>
    </form>

</section>
</body>
</html>
