<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      layout:decorate="~{index}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit movie</title>
</head>

<body>
<section layout:fragment="content">

    <h1 class="text-center" th:text="#{movies.createOrEdit}">Movies</h1>
    <br/>
    <br/>
    <div class="row">
        <form class="col-6" method="post" th:action="@{${'~/movies/edit'}}" enctype="multipart/form-data">
            <input type="hidden" th:field="*{movie.id}">
            <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label" th:text="#{movie.name}">Movie name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" th:field="*{movie.name}"
                           th:placeholder="#{movie.name}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-4 col-form-label" th:text="#{movie.description}">Movie
                    description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="description" th:field="*{movie.description}"
                           th:placeholder="#{movie.description}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="price" class="col-sm-4 col-form-label" th:text="#{movie.price}">Movie price</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="price" th:field="*{movie.price}"
                           th:placeholder="#{movie.price}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="date" class="col-sm-4 col-form-label" th:text="#{movie.date}"></label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" id="date" th:field="*{movie.date}"
                           th:placeholder="#{movie.date}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="thumbnail" class="col-sm-4 col-form-label" th:text="#{movie.thumbnail}"></label>
                <div class="col-sm-8">
                    <input type="file" class="form-control" id="thumbnail" name="image"
                           th:placeholder="#{movie.thumbnail}">
                </div>
            </div>
            <button class="btn btn-lg btn-primary" type="submit" th:text="#{movies.run}">Update</button>
        </form>
        <div class="col-6">
            <img th:if="${movie.thumbnail!=null}"
                 alt="thumbnail"
                 class="rounded mx-auto d-block"
                 th:attr="src=@{${movie.thumbnail}}"/>
        </div>
    </div>
</section>
</body>
</html>
