<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      layout:decorate="~{index}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Movies</title>
</head>

<body>
<section layout:fragment="content">

    <h1 class="text-center" th:text="#{nav.movies}">Movies</h1>

    <table class="table table-hover table-sm">
        <thead>
        <tr>
            <td colspan="5">
                <div class="text-right">
                    <a class="btn btn-success btn-sm "
                       th:href="@{/movies/add}"
                       th:text="#{movies.add}"
                    >add movie</a>
                </div>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie :${movies}">
            <th scope="row" th:text="${movie.name}"></th>
            <td th:text="${movie.description}"></td>
            <td th:text="${movie.date}"></td>
            <td th:text="${movie.price}"></td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-primary btn-sm"
                       th:href="@{${'~/movies/' + movie.id + '/edit'}}"
                       th:text="#{movie.edit}">edit</a>
                    <a class="btn btn-danger btn-sm"
                       th:href="@{${'~/movies/' + movie.id + '/remove'}}"
                       th:text="#{movie.remove}">remove</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</section>
</body>
</html>
