<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      layout:decorate="~{index}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Profile</title>
</head>

<body>
<section class="row" layout:fragment="content">
    <form class="col-6" method="post" th:action="@{${'~/profile/' + user.id + '/edit'}}">
        <div class="form-group row">
            <label for="login" class="col-sm-4 col-form-label" th:text="#{profile.login}">Login</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" id="login" th:field="*{user.login}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label" th:text="#{profile.email}">Email address</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="email" th:field="*{user.email}" th:placeholder="#{profile.email}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="firstName" class="col-sm-4 col-form-label" th:text="#{profile.firstName}">First name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="firstName" th:field="*{user.firstName}" th:placeholder="#{profile.firstName}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-4 col-form-label" th:text="#{profile.lastName}">Last name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="lastName" th:field="*{user.lastName}" th:placeholder="#{profile.lastName}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="telephone" class="col-sm-4 col-form-label" th:text="#{profile.telephone}">Telephone number</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="telephone" th:field="*{user.telephone}" th:placeholder="#{profile.telephone}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="street" class="col-sm-4 col-form-label" th:text="#{profile.street}">street</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="street" th:field="*{user.address.street}" th:placeholder="#{profile.street}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="number" class="col-sm-4 col-form-label" th:text="#{profile.streetNumber}">number</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="number" th:field="*{user.address.number}" th:placeholder="#{profile.streetNumber}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="city" class="col-sm-4 col-form-label" th:text="#{profile.city}">city</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="city" th:field="*{user.address.city}" th:placeholder="#{profile.city}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="postalCode" class="col-sm-4 col-form-label" th:text="#{profile.postalCode}">postal code</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="postalCode" th:field="*{user.address.postalCode}" th:placeholder="#{profile.postalCode}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="pesel" class="col-sm-4 col-form-label" th:text="#{profile.pesel}">pesel</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="pesel" th:field="*{user.pesel.peselNumber}" th:placeholder="#{profile.pesel}" required>
            </div>
        </div>
        <button class="btn btn-lg btn-primary" type="submit" th:text="#{profile.updateButton}">Update</button>
    </form>
    <div class="col-6">
        <h5 th:text="#{movie.reserveButton}">Reserved movies</h5>
        <div class="row" th:each="movieReservation :${user.reservedMovies}">
            <p class="col-9" th:text="${movieReservation.movie.name}">movie name</p>
            <a th:if="${movieReservation.confirmed}" th:href="@{${'/ticket/' + movieReservation.id}}" class="btn btn-outline-primary col-3" th:text="#{movie.ticket}">Ticket</a>
        </div>
        <p th:if="${user.reservedMovies.isEmpty()}" th:text="#{empty}">empty</p>
    </div>
</section>
</body>
</html>
