<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      layout:decorate="~{index}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{profile.register}">Register</title>
    <link rel="stylesheet" th:href="@{/resources/css/signin.css}"/>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<header layout:fragment="header"></header>

<body>
<section class="text-center" layout:fragment="content">
    <form class="form-signin" method="post" th:action="@{/register}" th:object="${user}">
        <img alt="" class="mb-4" height="72" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" width="72">
        <h1 class="h3 mb-3 font-weight-normal" th:text="#{profile.register}">Register</h1>

        <div class="alert alert-danger" th:if="${#fields.hasErrors()}">
            <div th:each="e : ${#fields.detailedErrors()}">
                <!--<span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span>-->
                <span th:text="#{${e.message}}">The error message</span>
            </div>
        </div>

        <label class="sr-only" for="login" th:text="#{profile.login}">Login</label>
        <input autofocus class="form-control no_bottom_radius" id="login" th:placeholder="#{profile.login}" required
               th:field="*{login}">

        <label class="sr-only" for="inputPassword" th:text="#{profile.password}">Password</label>
        <input class="form-control no_bottom_radius no_top_radius" id="inputPassword" th:placeholder="#{profile.password}"
               required th:field="*{password}" type="password">

        <label class="sr-only" for="inputEmail" th:text="#{profile.email}">Email address</label>
        <input class="form-control no_top_radius" id="inputEmail" th:placeholder="#{profile.email}" required
               th:field="*{email}" type="email">

        <p></p>

        <label class="sr-only" for="firstName" th:text="#{profile.firstName}">First name</label>
        <input class="form-control no_bottom_radius" id="firstName" th:placeholder="#{profile.firstName}" required
               th:field="*{firstName}">

        <label class="sr-only" for="lastName" th:text="#{profile.lastName}">Last name</label>
        <input class="form-control no_bottom_radius no_top_radius" id="lastName" th:placeholder="#{profile.lastName}"
               required th:field="*{lastName}">

        <label class="sr-only" for="telephone" th:text="#{profile.telephone}">Telephone</label>
        <input class="form-control no_top_radius" id="telephone" th:placeholder="#{profile.telephone}" required
               th:field="*{telephone}" type="number">

        <p></p>

        <div class="g-recaptcha"
             data-sitekey="6Lfh4ooUAAAAAHSCNMhVBX6V9dG-878-bnH5DDT9">
        </div>
        <button class="btn btn-lg btn-primary btn-block" th:text="#{profile.register}" type="submit">Register</button>
    </form>

</section>
</body>
</html>
