<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      layout:decorate="~{index}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{nav.reservations}">Reservations</title>
</head>

<body>
<section layout:fragment="content">
    <h1 class="text-center" th:text="#{admin.reservations.title}">All reservations</h1>

    <table class="table table-hover table-sm">
        <thead class="">
        <tr>
        <th scope="col" th:text="#{movie.name}">name</th>
        <th scope="col" th:text="#{profile.login}">login</th>
        <th scope="col" th:text="#{profile.email}">mail</th>
        <th scope="col" th:text="#{admin.reservations.status}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movieReservation :${reservations}">
            <td th:text="${movieReservation.movie.name}"></td>
            <td th:text="${movieReservation.user.login}"></td>
            <td th:text="${movieReservation.user.email}"></td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-primary btn-sm"
                       th:href="@{${'/reservations/' + movieReservation.id + '/confirm'}}"
                       th:if="${!movieReservation.confirmed}"
                       th:text="#{admin.reservations.confirm}">Confirm</a>
                    <a class="btn disabled btn-sm"
                       th:if="${movieReservation.confirmed}"
                       th:text="#{admin.reservations.confirmed}">Confirmed</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!--<div class="row " th:each="movieReservation :${reservations}">-->
    <!--<p class="col-3" th:text="${movieReservation.movie.name}"></p>-->
    <!--<p class="col-3" th:text="${movieReservation.user.login}"></p>-->
    <!--<p class="col-3" th:text="${movieReservation.user.email}"></p>-->
    <!--<form class="col-3" method="post" th:action="@{${'/reservations/' + movieReservation.id + '/confirm'}}">-->
    <!--<a class="btn btn-outline-primary btn-block" th:if="${!movieReservation.confirmed}" th:text="#{admin.reservations.confirm}">Confirm</a>-->
    <!--<a class="btn disabled btn-block" th:if="${movieReservation.confirmed}" th:text="#{admin.reservations.confirmed}">Confirmed</a>-->
    <!--</form>-->
    <!--</div>-->
</section>
</body>
</html>
