<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      layout:decorate="~{index}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Movies</title>
</head>

<body>

<section layout:fragment="content">
    <h1 class="text-center h2 font-weight-normal" th:text="#{movie.confirmReservation}">Confirm reservation</h1>
    <p></p>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary" th:text="${movieObj.price + ' PLN'}">Movie
                        price</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" th:text="${movieObj.name}">Movie name</a>
                    </h3>
                    <div class="mb-1 text-muted">Movie date</div>
                    <p class="card-text mb-auto" th:text="${movieObj.description}">Movie description</p>
                    <form method="post" th:action="@{/reserve/confirm}">
                        <input th:name="movieName" th:value="${movieObj.name}" type="hidden"/>
                        <button class="btn btn-sm btn-success" th:text="#{movie.confirmButton}">confirm</button>
                    </form>
                </div>
                <img th:if="${movieObj.thumbnail==null}" alt="Card image cap" class="card-img-right flex-auto d-none d-md-block"
                     data-src="holder.js/200x250?theme=thumb">
                <img th:if="${movieObj.thumbnail!=null}" class="card-img-right flex-auto d-none d-md-block thumbnail-size" th:attr="src=@{${movieObj.thumbnail}}" />
            </div>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
</section>

</body>
</html>

