<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      layout:decorate="~{index}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{admin.users.title}">Users</title>
</head>

<body>
<section layout:fragment="content">
    <h1 class="text-center" th:text="#{admin.users.title}">All users</h1>
    <table class="table table-hover table-sm">
        <thead class="">
        <tr>
            <th scope="col" th:text="#{profile.login}">login</th>
            <th scope="col" th:text="#{profile.firstName}">name</th>
            <th scope="col" th:text="#{profile.lastName}">lname</th>
            <th scope="col" th:text="#{profile.email}">mail</th>
            <th scope="col" th:text="#{profile.roles}">roles</th>
            <th scope="col" th:text="#{admin.users.action}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user :${users}">
            <th scope="row" th:text="${user.login}"></th>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <span class="badge badge-light" th:each="role :${user.getUserRole()}"
                      th:text="${role.getClearString()}"></span>
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-outline-primary btn-sm" role="button"
                       th:href="@{${'~/users/' + user.id + '/edit'}}"
                       th:text="#{admin.users.edit}">edit</a>
                    <a class="btn btn-danger btn-sm" role="button"
                       th:href="@{${'~/users/' + user.id + '/remove'}}"
                       th:if="${user.login != #authentication.name}"
                       th:text="#{admin.users.remove}">remove</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <!--<div class="row">-->
    <!--<p class="col-2 text-center" th:text="#{profile.login}">login</p>-->
    <!--<p class="col-2 text-center" th:text="#{profile.firstName}">name</p>-->
    <!--<p class="col-2 text-center" th:text="#{profile.lastName}">lname</p>-->
    <!--<p class="col-2 text-center" th:text="#{profile.email}">mail</p>-->
    <!--<p class="col-3 text-center" th:text="#{profile.roles}">roles</p>-->
    <!--<p class="col-1 text-center" th:text="#{admin.users.action}">Actions</p>-->
    <!--</div>-->
    <!--<div class="row" th:each="user :${users}">-->
    <!--<p class="col-2" th:text="${user.login}"></p>-->
    <!--<p class="col-2" th:text="${user.firstName}"></p>-->
    <!--<p class="col-2" th:text="${user.lastName}"></p>-->
    <!--<p class="col-2" th:text="${user.email}"></p>-->
    <!--<div class="col-3 row">-->
    <!--<p class="col-6" th:each="role :${user.getUserRole()}" th:text="${role.getClearString()}"></p>-->
    <!--</div>-->
    <!--<div class="col-1">-->
    <!--<a class="btn btn-outline-primary" th:href="@{${'~/users/' + user.id + '/edit'}}" th:text="#{admin.users.edit}">edit</a>-->
    <!--<a th:if="${user.login != #authentication.name}" class="btn btn-danger" th:href="@{${'~/users/' + user.id + '/remove'}}" th:text="#{admin.users.remove}">remove</a>-->
    <!--</div>-->
    <!--</div>-->
</section>
</body>
</html>
